<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TalkSession</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="nav-container">
      <nav class="nav">
        <ul class="nav-routes">
          <li><a href="/">Home</a></li>
        </ul>
        {{#if session.userId}}
          <div>
            <ul class="logged">
              <li><a href="/talks/dashboard">Dashboard</a></li>
              <li>
                <a href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        {{else}}
          <div class="unlogged">
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Registro</a></li>
          </div>
        {{/if}}
      </nav>
    </div>
    <div class="container">
      {{#if messages.message}}
        <div class="messages"> {{messages.message}}</div>
      {{else}}
        {{#if messages.sucess}}
          <div class="sucess"> {{messages.sucess}}</div>
        {{/if}}
      {{/if}}

      {{{body}}}
    </div>
    <footer>
      <p>Direitos Reservados. <span>TalkSession</span> &copy; 2025</p>
    </footer>
  </body>
</html>